body {font-family: Georgia; font-size: 1rem}
.card-background {background-color: #CDD7DC; height:280px;}
h1   {font-family: Impact; font-weight: normal; font-size: 2.618rem; padding: 15px 0px;}
p    {color: black;}
#image-box {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width:80px;
  height:80px;
  background-color:#5A6469;
  margin: 0 0 15px 0;
  margin-left: auto;
  margin-right: auto;
}